:host {
  top: 100px;
  left: 100px;
}

#app.full {
  transform: none;
  width: 100%;
  height: 100%;
}

#app.widget {
  transform: scale(0.7);       /* shrink everything */
  transform-origin: top left;  /* anchor scaling */
  width: 140%;                 /* compensate for shrink */
  height: 140%;
  overflow: hidden;            /* hide scrollbars */
}