* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#component-root {
  width: 100%;
  height: 100%;
  position: relative;
  background: #000;
}

#canvas {
  display: block;
  width: 100%;
  height: 100%;
}

@media (prefers-reduced-motion: reduce) {
  #canvas {
    animation: none;
  }
}

